@model List<WebApplication3.Models.Product>

<h1>Products List</h1>

@if(Model.Any())
{
    <p>Count of products : @Model.Count</p>
}
else
{
    <p>No products found.</p>
}
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach(var product in Model)
{
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Category 
                        <span class="badge bg-primary">@product.Price$</span>
                    </p>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-dark">Show Details</a>
      </div>
    </div>
  </div>
}
</div>
