@model List<DataAccess.Entities.Product>

<h1>Products List</h1>

@if(Model.Any())
{
    <p>Count of products : @Model.Count</p>
}
else
{
    <p>No products found.</p>
}
<div class="row row-cols-1 row-cols-md-3 g-4">
@foreach(var product in Model)
{
  <div class="col">
    <div class="card">
      <div class="card-body">
         <div class="product-card-image">
                        <img src="@(product.ImageUrl ?? "https://static.vecteezy.com/system/resources/thumbnails/004/141/669/small_2x/no-photo-or-blank-image-icon-loading-images-or-missing-image-mark-image-not-available-or-image-coming-soon-sign-simple-nature-silhouette-in-frame-isolated-illustration-vector.jpg")" alt="Product Image" class="card-img-top" />
         </div>
        <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Category 
                        <span class="badge bg-primary">@product.Price$</span>
                    </p>
                    <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-dark">
                        <i class="bi bi-three-dots"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">
                        <i class="bi bi-trash3"></i>
                    </a>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning">
                        <i class="bi bi-pen"></i>
                    </a>
      </div>
    </div>
  </div>
}
</div>

<a asp-action="Create" type="button" class="btn btn-primary mt-4">Create New Product</a>
